body {
  margin: 0;
  font-family: Cursive, sans-serif;
  background-image: url("../public/bg.jpg");;
  background-size: cover; 
  color: whitesmoke
}

.btn-level, #reset, #start_stop {
  background-color: transparent !important;
  border: 0 !important;
}

.fa-regular, .fa-solid {
  color: white !important;
}

.main-title {
  color: black;
  border: 1px;
  font-weight: 900;
}


